{% extends 'base.html' %}
{% block content %}
<table width="100%" height="100%%">
    <tr>
        <td valign="center" align="middle">
            <table width="50%" height="50%%">
                <tr>
                    <td width="25%" valign="center" align="middle"><a href="{% url 'core:trips' %}">Trips</a></td>
                    <td width="25%" valign="center" align="middle"><a href="{% url 'core:objects' %}">Show Objects</a></td>
                    <td width="25%" valign="center" align="middle"><a href="{% url 'core:events' %}">Events</a></td>
                </tr>
                <tr>
                    <td width="25%" valign="center" align="middle"><a href="{% url 'core:persons' %}">Persons</a></td>
                    <td width="25%" valign="center" align="middle"><a href="{% url 'core:tags' %}">Tags</a></td>
                    <td width="25%" valign="center" align="middle"><a href="#">@nbsp;</a></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblock content %}