{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load i18n %}

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<ваш API-ключ>" type="text/javascript"></script>

<script type="text/javascript">

ymaps.ready(init);

function init () {

    myMap = new ymaps.Map("map", {
    center: [{{ object.latitude }}, {{ object.longitude }}],
        zoom: 16
    }),

    myGeoObject = new ymaps.GeoObject({
        geometry: {type: "Point",coordinates: [{{ object.latitude }}, {{ object.longitude }}]},
        properties: {iconContent: '{{object.name}}'}
    }, {preset: 'islands#blackStretchyIcon',draggable: true
    })

    myGeoObject.events.add(['mapchange','dragend'], 
        function (e) {
            coords = myGeoObject.geometry.getCoordinates();
            document.all['latitude'].value = coords[0];
            document.all['longitude'].value = coords[1];
        }
    ); 

    myMap.geoObjects.add(myGeoObject);

}
   
</script>
<!-- <div class="row" style="background-color:beige;">
    <div class="col">
        <h1>{% trans "Show Object" %}</h1>            
    </div>
</div>
<div class="row" style="background-color: aqua;">
    <form action="" method="post">
        {% crispy form %}  
    </form>  
    <div class="col" style="background-color:chartreuse;">
            <div id="map" style="width: 360;height: 480;"></div>
    </div>
    <div class="col" style="background-color: darkgoldenrod">
        <h3>{% trans "Related events" %}</h3>
        {% for event in object.events.all %}
            {{ event.name }}
        {% endfor %}
        <br>
        <a href="{% url 'core:object_events' object.id %}">{% trans "Add event" %}</a>
        <hr>
        <h3>{% trans "Related persons" %}</h3>
        {% for person in object.persons.all %}
            {{ person.first_name }}&nbsp;{{ person.last_name }}
        {% endfor %}
        <br>
        <a href="{% url 'core:object_persons' object.id %}">{% trans "Add person" %}</a>            
        <hr>
        <h3>{% trans "Related tags" %}</h3>
        {% for tag in object.tags.all %}
            {{ tag.name }}
        {% endfor %}
        <br>
        <a href="{% url 'core:object_tags' object.id %}">{% trans "Add tag" %}</a>       
        <hr>
        <h3>{% trans "Related sites" %}</h3>
        {% for site in object.sites.all %}
            {{ site.url }}
        {% endfor %}
        <br>
        <a href="{% url 'core:object_sites' object.id %}">{% trans "Add site" %}</a>                    
    </div>
</div>     -->


{% crispy form %} 

{% endblock %}