{% extends 'base.html' %}
{% block content %}
{% load i18n %}
<div>
    <div>
        <h1>{% trans "photo Details" %}</h1>            
    </div>
    <div>
            <img src="data:image/jpg;base64,{{ image }}">
    </div>
    <form action=""  enctype="multipart/form-data" method="post">
        {% csrf_token %}             
        <p><label for="id_title">Title:</label>{{ form.title }}</p>
        <p><label for="id_file">File:</label>{{ form.file }}</p>        
        <input type="button" value='test' onclick='javascript:alert();'>
        <input type="submit" value='{% trans "Save" %}'>
        <input type="submit" value='{% trans "Cancel" %}'> 
    </form>                
</div>

{% endblock %}