{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load i18n %}
<script>

function preview(form) {
    var name = form["file"].value;
    form["title"].value = name.substring(1 + name.lastIndexOf("\\"), name.lenght);
    form.submit();
}

</script>
<div class="row">
    <div class="col">
        <h1>{% trans "photo Details" %}</h1>            
        <img src="data:image/jpg;base64,{{ image }}">
        <form action=""  enctype="multipart/form-data" method="post">
        {% csrf_token %}       
        {{ form|crispy }}      
        {% comment %} <p><label for="id_title">Title:</label>{{ form.title }}</p>
        <p><label for="id_file">File:</label>{{ form.file }}</p>         {% endcomment %}
        <p>
            <a class="btn" href="{% url 'core:object_photo_rotate' pk new_id 90 %}">Rotate Counterclockwise</a>
        </p>
        <p>
            <input class="btn btn-primary" type="submit" value='{% trans "Save" %}' name='save'>
            <input class="btn btn-secondary" type="submit" value='{% trans "Cancel" %}' name='cancel'> 
        </p>
    </form>                
    </div>
</div>    
{% endblock %}