{% extends 'base.html' %}
{% block content %}
{% load i18n %}

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<ваш API-ключ>" type="text/javascript"></script>

<script type="text/javascript">

ymaps.ready(init);

function init () {

    myMap = new ymaps.Map("map", {
    center: [{{ object.latitude }}, {{ object.longitude }}],
        zoom: 16
    }),

    myGeoObject = new ymaps.GeoObject({
        geometry: {type: "Point",coordinates: [{{ object.latitude }}, {{ object.longitude }}]},
        properties: {iconContent: '{{object.name}}'}
    }, {preset: 'islands#blackStretchyIcon',draggable: true
    })

    myGeoObject.events.add(['mapchange','dragend'], 
        function (e) {
            coords = myGeoObject.geometry.getCoordinates();
            document.all['latitude'].value = coords[0];
            document.all['longitude'].value = coords[1];
        }
    ); 

    myMap.geoObjects.add(myGeoObject);

}
   
</script>
<div>
    <h1>{% trans "Show Object" %}</h1>            
</div>
<table border=1>
    <tr>
        <td valign="top">
            {% if image %}
            <img src="data:image/jpg;base64,{{ image }}">
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}             
                {{ form.as_p }}  
                <p><a href="{% url 'core:object_photo' object.id 0 %}">Set Photo</a></p>              
                <input type="submit" value='{% trans "Save" %}'>
                <input type="submit" value='{% trans "Cancel" %}'> 
            </form>                
        </td>
        <td valign="top" width="25%">
            <textarea width="100%" height="100%">
                {{ object.story }} 
            </textarea>
        </td>        
        <td valign="top">
            <div id="map" style="width: 360;height: 480;"></div>
        </td>
        <td valign="top">
            <h3>{% trans "Related events" %}</h3>
            {% for event in object.events.all %}
                {{ event.name }}
            {% endfor %}
            <br>
            <a href="{% url 'core:object_events' object.id %}">{% trans "Add event" %}</a>
            <hr>
            <h3>{% trans "Related persons" %}</h3>
            {% for person in object.persons.all %}
                {{ person.first_name }}&nbsp;{{ person.last_name }}
            {% endfor %}
            <br>
            <a href="{% url 'core:object_persons' object.id %}">{% trans "Add person" %}</a>            
            <hr>
            <h3>{% trans "Related tags" %}</h3>
            {% for tag in object.tags.all %}
                {{ tag.name }}
            {% endfor %}
            <br>
            <a href="{% url 'core:object_tags' object.id %}">{% trans "Add tag" %}</a>            

        </td>        
    </tr>
</table>

{% endblock %}