{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load i18n %}
<div class="row">
    <h1>{% trans "Sites" %}</h1>            
    <table class="table">
    {% for site in object_list %}
    <tr>
        <td>{{ site.url }}</td>
        <td>
            <a href="{% url 'core:site_delete' site.id %}">Delete</a>
            <a href="{% url 'core:site_edit' site.id %}">Edit</a>
        </td>    
    </tr>
    {% endfor %}
    </table>
    <a class="btn btn-primary" href="{% url 'core:site_create' %}">New Site</a>
</div>
{% endblock content %}