{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load i18n %}
<div class="row">
    <div class="col">
        <h1>{% trans "Tag details" %}</h1>            
        <form action="" method="post">
            {% csrf_token %}             
            {{ form|crispy}}
            <input class="btn btn-primary" type="submit" value='{% trans "Save" %}'>
            <input class="btn btn-secondary" type="submit" value='{% trans "Cancel" %}'> 
        </form>                
    </div>
</div>
{% endblock %}