{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load i18n %}

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=a9518d3f-cfce-464c-bc91-87286e479767" type="text/javascript"></script>
<script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
ymaps.ready(init);
var selected;

function init () {
    
myMap = new ymaps.Map("map", {
center: [55.7558171758732, 37.61771159788882],
    zoom: 16
})

var points = new ymaps.GeoObjectCollection({}, {
    preset: "islands#blackStretchyIcon",
});

{% for point in object.points.all %}

    ShowPoint{{point.id}} = new ymaps.GeoObject({
        geometry: {type: "Point",coordinates: [{{ point.latitude }}, {{ point.longitude }}]},
        properties: {iconContent: '{{point.name}}'}
    }, {preset: 'islands#blackStretchyIcon',draggable: false })
    ShowPoint{{point.id}}.events.add(['click'], 
        function (e) {
            unselect();
            if (selected != {{point.id}}) {
                e.get('target').options.set('preset', 'islands#redStretchyIcon');
                selected = {{point.id}};
            } else {
                e.get('target').options.set('preset', 'islands#blueStretchyIcon');
                selected = null;
            }
        }
    ); 
    points.add(ShowPoint{{point.id}});

{% endfor %}

    myMap.geoObjects.add(points);

    function unselect() {
        myMap.geoObjects.each(function (geoObject) {
            geoObject.options.set('preset','islands#blueStretchyIcon')
        });
    }

    firstButton = new ymaps.control.Button('{% trans "Add to route" %}');
    firstButton.events.add('click', function () {
        if (selected == null) 
            return;
        var input = document.createElement("input");
        input.setAttribute("type", "hidden");
        input.setAttribute("name", "point_id");
        input.setAttribute("value", selected);
        document.forms[0].appendChild(input);       
        document.forms[0].action = "/trips/{{trip.id}}/trip_point_add/" + selected;
        document.forms[0].submit();
    });
    myMap.controls.add(firstButton, {float: 'right'});

    multiRoute = new ymaps.multiRouter.MultiRoute({
        referencePoints: [
{% for point in object.points.all %}
    [{{point.latitude}},{{point.longitude}}],
{% endfor %}
            ],
            params: {

            }
        }, {

        });
multiRoute.model.setParams({
    routingMode: 'pedestrian'
});
    myMap.geoObjects.add(multiRoute);

}


function setPoint() {

    alert(myMap.getCenter());

    point = new ymaps.Placemark(myMap.getCenter(), {
        }, {
            preset: 'islands#violetDotIconWithCaption',
            draggable: true
        });

    myMap.geoObjects.add(point);

}
</script>
<div class="row">
    <div class="col">
            <h1>{% trans "Trip Details" %}</h1>            
        <form action="" method="post">
            {% csrf_token %}             
            {{ form|crispy}}
            {% if object.points.all|length > 0 %}
            <table>
            <tr><td><label>Points:</label></td></tr>
            {% for point in object.points.all %}
            <tr>
                <td>{% trans "Point number" %}{{point.order}}</td>
                <td><a href="{% url 'core:trip_point_delete' point.trip.id point.id %}">Delete</a></td>
                <td><a href="{% url 'core:trip_point_edit' object.id point.id %}">Edit</a></td>                
                <td><a href="{% url 'core:trip_point_objects' point.trip_id point.id %}">Edit Objects</a></td> 
            </tr>
            <tr>
                <td colspan="4">
                    <table>
                        <tr>
                            {% for show_object in point.show_objects.all %}
                                <td>
                                    <small>{{ show_object.object.name }}<small><br>
                                    <img src="data:image/jpg;base64,{{ show_object.object.photo.thumbnail }}" width="100" height="100">
                                </td>
                            {% endfor %}
                        </tr>
                    </table>
                </td>
            </tr>            
            {% endfor %}
            </table>
            {% endif %}            
            <p>
                <a href="{% url 'core:trip_point_add' trip.id %}">Add point</a>
                <input type="button" value="Preview">
                <input type="button" value="Hide">
            </p>
            <p>
                <input type="submit" value='{% trans "Save" %}'>
                <input type="submit" value='{% trans "Cancel" %}'> 
            </p>
        </form>                
    </div>
    <div class="col">
            <div id="map" style="width: 640;height: 480;"/>
    </div>
<div>
{% endblock %}