{% extends 'base.html' %}
{% block content %}
{% load i18n %}

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=a9518d3f-cfce-464c-bc91-87286e479767" type="text/javascript"></script>
<script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
ymaps.ready(init);
var selected;


function init () {
    
    myMap = new ymaps.Map("map", {
    center: [55.7558171758732, 37.61771159788882],
        zoom: 16
    })



{% for point in points %}
    ShowPoint{{point.id}} = new ymaps.GeoObject({
        geometry: {type: "Point",coordinates: [{{ point.latitude }}, {{ point.longitude }}]},
        properties: {iconContent: '{{point.name}}'}
    }, {preset: 'islands#blackStretchyIcon',draggable: false })
    ShowPoint{{point.id}}.events.add(['click'], 
        function (e) {
            unselect();
            if (selected != {{point.id}}) {
                e.get('target').options.set('preset', 'islands#redStretchyIcon');
                selected = {{point.id}};
            } else {
                e.get('target').options.set('preset', 'islands#blueStretchyIcon');
                selected = null;
            }
        }
    ); 
    myMap.geoObjects.add(ShowPoint{{point.id}});
{% endfor %}

    function unselect() {
        myMap.geoObjects.each(function (geoObject) {
            geoObject.options.set('preset','islands#blueStretchyIcon')
        });
    }

    firstButton = new ymaps.control.Button("Кнопка");
    firstButton.events.add('click', function () {
        if (selected == null) 
            return;
        var input = document.createElement("input");
        input.setAttribute("type", "hidden");
        input.setAttribute("name", "point_id");
        input.setAttribute("value", selected);
        document.forms[0].appendChild(input);       
        document.forms[0].action = "/trips/{{trip.id}}/trip_point_add/" + selected;
        document.forms[0].submit();
    });
    myMap.controls.add(firstButton, {float: 'right'});


        multiRoute = new ymaps.multiRouter.MultiRoute({
            referencePoints: [
ShowPoint1, ShowPoint2
            ],
            params: {

            }
        }, {

        });
multiRoute.model.setParams({
    routingMode: 'pedestrian'
});
    myMap.geoObjects.add(multiRoute);

}





</script>
<table>
    <tr>
        <td valign="top">
        <div>
            <h1>{% trans "Trip Details" %}</h1>            
        </div>
        <form action="" method="post">
            {% csrf_token %}             
            {{ form.as_p }}
            <p><label>Points:</label> </p>
            <table>
            {% for trip_point in trip_points %}
            <tr>
                <td>{{trip_point.trip.id}}</td>
                <td>{{trip_point.point.id}}</td>
                <td><a href="{% url 'core:trip_point_delete' trip_point.trip.id trip_point.point.id %}">Delete</a></td>
            </tr>
            {% endfor %}
            </table>
            <input type="submit" value='{% trans "Save" %}'>
            <input type="submit" value='{% trans "Cancel" %}'> 
        </form>                
        </td>
        <td><div id="map" style="width: 640;height: 480;"></div></td>
    </tr>
</table>

{% endblock %}