{% comment %} {% extends 'base.html' %} {% endcomment %}
{% block content %}
{% load i18n %}
    <table>
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Actions" %}</th>                    
            </tr>
        </thead>
        {% for trip in trips %}
        <tr>
            <td>{{ trip.name }}</td>
            <td>
                <a href="{% url 'core:trips_delete' pk %}">{% trans "Delete" %}</a>
                <a href="{% url 'core:trips_details' pk %}">{% trans "Update" %}</a>
            </td>    
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'core:trips_create' %}">{% trans "Add trip" %}</a>
</div>
{% endblock %}