{% extends 'base.html' %}
{% block content %}
{% load i18n %}
<div>
    <h1>{% trans "Trip Point " %}{{trip_point.order}}</h1>            
</div>
<table width="100%%">
    <tr>
        <td valign="top" width="33%">
            <form action="" method="post">
                {% csrf_token %}             
                {{ form.as_p }}
                <p><label>{% trans "Objects:" %}</label> </p>
                <table>
                    {% for trip_point_object in trip_point_objects %}
                    <tr>
                        <td>{{trip_point_object.object.name}}</td>
                        <td><a href="{% url 'core:trip_point_object_delete' trip_point_object.id %}">{% trans ">>" %}</a></td>
                    </tr>
                {% endfor %}
                </table>
                <input type="submit" value='{% trans "Save" %}'>
                <input type="submit" value='{% trans "Cancel" %}'> 
            </form>                
        </td>
        <td valign="top">
            <p><label>{% trans "Objects near by:" %}</label> </p>
            <table>
                {% for object in objects %}
                    <tr>
                        <td><a href="{% url 'core:trip_point_object_add' trip_point.id object.id %}">{% trans "<<" %}</a></td><td>{{object.name}}</td>
                    </tr>
                {% endfor %}        
            </table>
        </td>
    </tr>
</table>
{% endblock %}