{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load i18n %}
<div>
    <h1>{% trans "Trips" %}</h1>            
</div>
<table>
{% for trip in object_list %}
<tr>
    <td><h2>{{ trip.name }}</h2></td>
    <td>
        <a href="{% url 'core:trip_delete' trip.id %}">Delete</a>
        <a href="{% url 'core:trip_edit' trip.id %}">Edit</a>
    </td>    
</tr>
<tr>
    <td colspan=2>
        {% for trip_point in trip.trip_points %}
            {{ trip_point.name }}
        {% endfor %}
    </td>
</tr>
{% endfor %}
</table>
<a href="{% url 'core:trip_create' %}">New Trip</a>
{% endblock content %}